---
import Layout from '../layouts/Layout.astro';
import SectionTitle from '../components/SectionTitle.astro'
import SectionTable from '../components/SectionTable.astro';
---

<Layout title="100 things i'm gonna do">
	<main>
		<SectionTitle />
		<SectionTable />
	</main>
</Layout>

<style>

</style>
