---
import Downrow from '../components/Downrow.astro'
---

<section class="section">
  <div class="section__title">
    <h1 class="section__h1--title">100 things i'm gonna do</h1>
    <div class="section__link--title">
      <h2 class="section__h2--link-title">for me:</h2>
      <a href="#" class="section__a--link-title">@malsebasmal</a>
    </div>
  </div>

  <Downrow href="#ThingsToDo" />
</section>

<style>
  .section {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .section__link--title {
      display: flex;
      gap: 0.5rem;
    }
  }

  .section__h1--title {
    font-family: var(--tipo-secundaria);
    font-size: 3em;
    font-weight: 500;
  }
  .section__h2--link-title,
  .section__a--link-title {
    font-size: 1.5em;
    font-weight: 500;
  }
  
</style>