---
import Downrow from '../components/Downrow.astro'
---

<section class="section">
  <div class="section__title">
    <h1 class="section__h1--title">100 things i'm gonna do</h1>
    <div class="section__link--title">
      <h2 class="section__h2--link-title">for me:</h2>
      <a href="#" class="section__a--link-title">@malsebasmal</a>
    </div>
  </div>

  <button class="section__button">
    <Downrow />
  </button>
</section>