---
import CheckBox from "../components/CheckBox.astro";
---

<section class="section">
  <table class="section__table">
    <tr class="tr__header">
      <th class="hr__header">NUMBER</th>
      <th class="hr__header">DO WHAT?</th>
      <th class="hr__header">DATE REALICE</th>
      <th class="hr__header">CHECK?</th>
    </tr>
    <tr class="tr__data">
      <td class="td__data">1</td>
      <td class="td__data">Run marathon</td>
      <td class="td__data">01/11/11</td>
      <td class="td__data">
        <CheckBox />
      </td>
    </tr>
  </table>
</section>
