---
import CheckBox from "../components/CheckBox.astro";
const { id } = Astro.props
---

<section class="section" id={id}>
  <table class="section__table">
    <tr class="tr__header">
      <th class="hr__header">NUMBER</th>
      <th class="hr__header">DO WHAT?</th>
      <th class="hr__header">DATE REALICE</th>
      <th class="hr__header">CHECK</th>
    </tr>
    <tr class="tr__data">
      <td class="td__data">1</td>
      <td class="td__data">Run marathon</td>
      <td class="td__data">01/11/11</td>
      <td class="td__data">
        <CheckBox />
      </td>
    </tr>
  </table>
</section>

<style>
  .section {
    width: 100%;
    height: auto;
    padding: 3rem 0rem;
    display: flex;
    justify-content: center;
  }
</style>